img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

body {
    background: url(./../simpsons.jpg) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    zoom:66%;
}

p, h2{
    font-family: 'Gloria Hallelujah', cursive;
}
